* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.logo {
    width: 8rem;
    margin: 20px 0;
}

h1 {
    font-size: 50px;
}

h2 {
    margin: 20px;
    opacity: 0.8;
}

.fondo {
    text-align: center;
    background-image: url(img/fondo.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 55%;
}

.btn {
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(57 49 133);
    color: white;
    padding: 10px 15px;
    border-color: rgb(57 49 133);
    border-radius: 5px;
    margin: 20px 0 70px 0;
}

.btn:hover {
    background-color: white;
    color: rgb(57 49 133);
}

.container {
    border-top: 2px solid rgb(57 49 133);
    display: flex;
    align-items: center;
}

.columns {
    max-width: 1500px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.cards {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 15px rgb(0 0 0 / 30%);
    max-width: 250px;
    padding: 20px 20px;
    margin: 3em 0;
}

.cards:hover {
    transform: scale(1.1);
}

span {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
}

.cards img {
    width: 50%;
}

footer {
    background-color: rgb(57 49 133);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.redes ul {
    display: flex;
    margin-top: 25px;
}

.space {
    margin: 20px;
}

.iconos2 {
    display: flex;
    align-items: center;
    text-shadow: 2px 2px 1px #1f1f1f;
}

i {
    color: whitesmoke;
    margin: 0 10px 0 0;
    text-shadow: 2px 2px 1px #1f1f1f;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

@media (max-width: 750px) {
    .columns {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cards {
        margin: 1em 0;
    }
}

@media (max-width: 700px) {
    .redes ul {
        display: block;
    }
}